.content {
    margin: 0 auto;
    width: 600px;
}

.content h3 {
    text-align: center;
}

.horse {
    margin: 0 auto;
    height: 515px;
    width: 300px;
    background-image: url(horse.jpg)
}
